@using FPVPulse.Ingest
@if(Leaderboard != null && Leaderboard.Results != null && Leaderboard.Results.Length > 0)
{
    <div class="leaderboard-display">
        <h3>Leaderboard - @Leaderboard.RaceType</h3>
        <table>
            <tr>
                <th>InjestPilotId</th>
                <th>InjestPilotEntryId</th>
                <th>InjestName</th>
                <th>Position</th>
                <th>PositionDelta</th>
                <th>PositionReason</th>
                <th>PositionReasonInjestRaceId</th>
                <th>Flags</th>
            </tr>
        @foreach (var pilot in Leaderboard.Results)
        {
            <tr>
                <td>@pilot.InjestPilotId</td>
                <td>@pilot.InjestPilotEntryId</td>
                <td>@pilot.InjestName</td>
                <td>@pilot.Position</td>
                <td>@pilot.PositionDelta</td>
                <td>@pilot.PositionReason</td>
                <td>@pilot.PositionReasonInjestRaceId</td>
                <td>@pilot.Flags</td>
            </tr>
        }
        </table>
    </div>
}

@code {
    [Parameter]
    public InjestLeaderboard? Leaderboard { get; set; }
}
