@rendermode InteractiveWebAssembly
@using FPVPulse.Ingest
@* Remove @typeparam, use InjestRace directly *@

<div class="race-display">
    @if (Race != null)
    {
        <strong>@Race.RaceType @Race.InjestName</strong>
        <span> - InjestRaceId: @Race.InjestRaceId</span>
        <span> - InjestEventId: @Race.InjestEventId</span>
        <span> - Layout: @Race.RaceLayout</span>
        <span> - FirstOrderPoistion: @Race.FirstOrderPoistion</span>
        <span> - SecondOrderPosition: @Race.SecondOrderPosition</span>

        @if(Race.Pilots != null && Race.Pilots.Length > 0)
        {
            <table>
                <tr>
                    <th>InjestPilotEntryId</th>
                    <th>InjestPilotId</th>
                    <th>InjestName</th>
                    <th>SeedPosition</th>
                    <th>StartPosition</th>
                    <th>Position</th>
                    <th>Channel</th>
                    <td>CurrentSector</td>
                    <td>CurrentSplit</td>
                    <td>Position</td>
                    <td>StartTime</td>
                    <td>FinishTime</td>
                    <td>LapCount</td>
                    <td>TotalTime</td>
                    <td>TopLapTime</td>
                    <td>Top2ConsecutiveLapTime</td>
                    <td>Top3ConsecutiveLapTime</td>
                    <td>AverageLapTime</td>
                    <td>IsComplited</td>
                    <td>Flags</td>
                    <td>Laps</td>
                </tr>
            @foreach(var pilot in Race.Pilots)
            {
                var result = Results?.FirstOrDefault(r => r.InjestPilotId == pilot.InjestPilotId ||
                    r.InjestPilotEntryId == pilot.InjestPilotEntryId);

                <tr>
                    <td>@pilot.InjestPilotEntryId</td>
                    <td>@pilot.InjestPilotId</td>
                    <td>@pilot.InjestName</td>
                    <td>@pilot.SeedPosition</td>
                    <td>@pilot.StartPosition</td>
                    <td>@pilot.Position</td>
                    <td>@pilot.Channel</td>
                    <td>@result?.CurrentSector</td>
                    <td>@result?.CurrentSplit</td>
                    <td>@result?.Position</td>
                    <td>@result?.StartTime</td>
                    <td>@result?.FinishTime</td>
                    <td>@result?.LapCount</td>
                    <td>@result?.TotalTime</td>
                    <td>@result?.TopLapTime</td>
                    <td>@result?.Top2ConsecutiveLapTime</td>
                    <td>@result?.Top3ConsecutiveLapTime</td>
                    <td>@result?.AverageLapTime</td>
                    <td>@result?.IsComplited</td>
                    <td>@result?.Flags</td>
                    <td>
                    @if(result != null && result.Laps != null && result.Laps.Length > 0)
                    {
						@string.Join(", ", result.Laps.Select(l => l.LapTime))
                    }
                    </td>
                </tr>
            }
            </table>
        }
    }
    else
    {
        <em>No race data.</em>
    }
</div>

@code {
    [Parameter]
    public InjestRace? Race { get; set; }
    [Parameter]
    public InjestPilotResult[]? Results { get; set; }
}