@page "/event/{eventId:int}/pilot/{pilotId:int}"
@rendermode InteractiveWebAssembly
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using FPVPulse.Ingest
@using FPVPulse.LocalHost.Client.Components.Data
@using FPVPulse.LocalHost.Client.Components.EventData
@using Newtonsoft.Json
@inject IJSRuntime JS
<h1>Pilot</h1>

@if (pilot != null)
{
	<a href="/event/@eventId">Back to Event</a>
	@if (events != null)
	{
		<h2>Events</h2>
		<menu class="menu-container menu-depth-2">
			@foreach (var entry in events)
			{
				<li class="link-element"><a href="/event/@entry.Id">@entry.Name</a></li>
			}
		</menu>
	}
	<PilotDetailView pilot=pilot linkToPilot=true/>
	if(raceIndex != null)
	{
		if (leaderboardPractice != null)
		{
			<h2 class="card-title"><a href="event/@eventId/leaderboard/Practice">Practice</a></h2>
			<LeaderboardDetailsView pilotIdFilter="@pilotId" leaderboard="@leaderboardPractice" races="@races"/>
		}
		if (leaderboardQualifying != null)
		{
			<h2 class="card-title"><a href="event/@eventId/leaderboard/Qualifying">Qualifying</a></h2>
			<LeaderboardDetailsView pilotIdFilter="@pilotId" leaderboard="@leaderboardQualifying" races="@races"/>
		}
		if (leaderboardMain != null)
		{
			<h2 class="card-title"><a href="event/@eventId/leaderboard/Main">Main</a></h2>
			<LeaderboardDetailsView pilotIdFilter="@pilotId" leaderboard="@leaderboardMain" races="@races"/>
		}
		<h2 class="card-title">Races</h2><br />
		<div class="race-complited-container">
			@foreach(var entry in raceIndex)
			{
				@if (raceLookup.TryGetValue(entry.Id, out var race))
				{
					<div class="float-element">
						<RaceSummaryView race="@race" />
					</div>
				}
			}	
		</div>
	}
}
else
{
	<p>Loading ...</p>
}

@code {
	[Parameter]
	public int eventId { get; set; }
	[Parameter]
	public int pilotId { get; set; }

	Pilot pilot;

	Leaderboard leaderboardPractice;
	Leaderboard leaderboardQualifying;
	Leaderboard leaderboardMain;

	IndexEntry[] raceIndex;
	Dictionary<int, Race> raceLookup = new();
	Race[] races;

	IndexEntry[] events;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && OperatingSystem.IsBrowser())
			await LoadRaceAsync();
	}

	private async Task LoadRaceAsync()
	{
		pilot = await Http.GetFromJsonAsync<Pilot>($"api/pilot/{pilotId}");

		raceIndex = await Http.GetFromJsonAsync<IndexEntry[]>($"api/event/{eventId}/pilot/{pilotId}/raceIndex");
		if(raceIndex != null && raceIndex.Length > 0)
		{
			foreach (var entry in raceIndex)
			{
				var race = await Http.GetFromJsonAsync<Race>($"api/race/{entry.Id}");
				if (race != null)
				{
					raceLookup.Add(entry.Id, race);
				}
			}
		}
		races = raceLookup.Values.ToArray();

		events = await Http.GetFromJsonAsync<IndexEntry[]>($"api/pilot/{pilotId}/eventIndex");

		leaderboardPractice = await SaveLoadLeaderboard(eventId, RaceType.Practice);
		leaderboardQualifying = await SaveLoadLeaderboard(eventId, RaceType.Qualifying);
		leaderboardMain = await SaveLoadLeaderboard(eventId, RaceType.Mains);

		StateHasChanged();
	}

	async Task<Leaderboard?> SaveLoadLeaderboard(int eventId, RaceType raceType)
	{
		try
		{
			var leaderboard = await Http.GetFromJsonAsync<Leaderboard>($"api/event/{eventId}/leaderboard/{raceType}");
			return leaderboard;
		}
		catch (Exception ex)
		{
			var httpEx = ex as System.Net.Http.HttpRequestException;
			if (httpEx != null && httpEx.StatusCode == System.Net.HttpStatusCode.NotFound)
				return null;
			throw ex;
		}
	}
}
