@page "/event/{eventId:int}"
@rendermode InteractiveWebAssembly
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using FPVPulse.Ingest
@using FPVPulse.LocalHost.Client.Components.Data
@using FPVPulse.LocalHost.Client.Components.EventData
@using Newtonsoft.Json
@inject IJSRuntime JS
<h3>EventView</h3>

@if (eventData != null)
{
	<div class="card mb-3">
		<div class="card-body">
			<h5 class="card-title">@eventData.Name</h5>
		</div>
		<a href="/event/@eventId/leaderboards">EventLeaderboards</a><br />
		<a href="/event/@eventId/pilots">EventPilots</a><br />
		<h5 class="card-title">Pilots</h5>
		<div class="race-complited-container">
		@foreach (var pilot in pilots.Values)
		{
			<div class="float-element"><a href="/event/@eventId/pilot/@pilot.PilotId">@pilot.DisplayName</a></div>
		}
		</div>
		<h5 class="card-title">Races</h5><br />
		@if (eventData.Races != null && eventData.Races.Length > 0)
		{
			@foreach (var raceGroupRaceType in eventData.Races.OrderBy(e =>
						e.RaceType == RaceType.Practice ? 0 :
						e.RaceType == RaceType.Qualifying ? 1 :
						e.RaceType == RaceType.Mains ? 2 :
						e.RaceType == RaceType.Unknown ? 3 : 99)
						.GroupBy(e => e.RaceType))
			{
				<div class="race-type-container">
				<div class="race-type-container-sub">
				<div class="brackets-container">
				<h4>@raceGroupRaceType.Key</h4>
				@foreach (var brackedGroup in raceGroupRaceType.GroupBy(e => e.FirstOrderPoistion))
				{
					@if(raceGroupRaceType.Key == RaceType.Qualifying ||
						raceGroupRaceType.Key == RaceType.Practice)
					{
						<h4>Bracket @brackedGroup.Key</h4>
						<hr>
					}
					<div class="race-complited-container">
					@foreach (var race in brackedGroup.OrderBy(e => e.SecondOrderPosition))
					{
						@if (IsCurrentRace(race))
						{
							<div class="break-flex float-element">
								<h3>Current Race</h3>
								<RaceDetailsView race="@race" linkToRace="true"/>
							</div>
						}
						else if (IsNextRace(race))
						{
							<div class="break-flex float-element">
								<h3>Next Race</h3>
								<RaceDetailsView race="@race" linkToRace="true"/>	
							</div>
						}
						else if (IsComplied(race))
						{
							<div class="float-element">
								<RaceSummaryView race="@race" />
							</div>
						}
						else
						{
							<div class="break-flex float-element">
								<RaceSummaryView race="@race" />									
							</div>
						}
					}
					</div>
				}
				</div>
				</div>
				@if (leaderboards.TryGetValue(raceGroupRaceType.Key, out var leaerboard))
				{
					<div class="leaderboard-float-right float-element">
						<div class="leaderboard-narrow-container">
							<h4><a href="/leaderboard/@leaerboard.LeaderboardId">@raceGroupRaceType.Key</a></h4>
							<LeaderboardNarrowView leaderboard="@leaerboard" />
						</div>
					</div>
				}
				</div>
			}
		}
	</div>
}
else
{
	<p>Loading...</p>
}

@code {
	[Parameter]
	public int eventId { get; set; }

	Event eventData;

	Dictionary<int, Pilot> pilots = new Dictionary<int, Pilot>();
	Dictionary<RaceType, Leaderboard> leaderboards = new Dictionary<RaceType, Leaderboard>();

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && OperatingSystem.IsBrowser())
			await LoadRaceAsync();
		await JS.InvokeVoidAsync("console.log", "OnAfterRenderAsync", firstRender);
		await JS.InvokeVoidAsync("copyAllHeights");
	}

	private async Task LoadRaceAsync()
	{
		eventData = await Http.GetFromJsonAsync<Event>($"api/event/{eventId}");

		await LoadRaces();
		await LoadPilots();
		await LoadLeaderboards();

		JS.InvokeVoidAsync("console.log", "OnChangeRaceData", eventData.Shedule);

		StateHasChanged();
	}

	async Task LoadRaces()
	{
		if (eventData.Races == null)
		{
			var raceList = new List<Race>();
			var raceIndex = await Http.GetFromJsonAsync<IndexEntry[]>($"api/event/{eventId}/raceIndex");
			foreach (var entry in raceIndex)
			{
				var race = await Http.GetFromJsonAsync<Race>($"api/race/{entry.Id}");
				if (race != null)
					raceList.Add(race);
			}
			eventData.Races = raceList.ToArray();
		}
	}

	async Task LoadPilots()
	{
		var pilotIndex = await Http.GetFromJsonAsync<IndexEntry[]>($"api/event/{eventId}/pilotIndex");
		if (pilotIndex != null && pilotIndex.Length > 0)
		{
			foreach (var entry in pilotIndex)
			{
				var pilot = await Http.GetFromJsonAsync<Pilot>($"api/pilot/{entry.Id}");
				if (pilot != null)
					pilots[entry.Id] = pilot;
			}
		}
	}

	async Task LoadLeaderboards()
	{
		var leaderboarIndex = await Http.GetFromJsonAsync<IndexEntry[]>($"api/event/{eventId}/leaderboardIndex");
		if (leaderboarIndex != null && leaderboarIndex.Length > 0)
		{
			foreach (var entry in leaderboarIndex)
			{
				var leaderboard = await Http.GetFromJsonAsync<Leaderboard>($"api/leaderboard/{entry.Id}");
				if (leaderboard != null)
					leaderboards[leaderboard.RaceType] = leaderboard;
			}
		}
	}

	bool IsComplied(Race race)
	{
		if(race != null && race.Results != null)
		{
			return race.Results.All(r => r.IsComplited ?? false);
		}
		return false;	
	}

	bool IsCurrentRace(Race race)
	{
		return eventData?.Shedule?.CurrentRaceId == race.RaceId;
	}

	bool IsNextRace(Race race)
	{
		return eventData?.Shedule?.NextRaceId == race.RaceId;		
	}
}
