@page "/event/{eventId:int}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using FPVPulse.LocalHost.Client.Components.Data
<h3>EventView</h3>

@if (eventData != null)
{
	<div class="card mb-3">
		<div class="card-body">
			<h5 class="card-title">@eventData.Name</h5>
		</div>
		<h5 class="card-title">Races</h5><br />
		@foreach (var race in raceIndex)
		{
			<a href="/race/@race.Id">@race.Name : @race.Id</a><br />
		}
		<h5 class="card-title">Pilots</h5>
		@foreach (var pilot in pilotIndex)
		{
			<a href="/event/@eventId/pilot/@pilot.Id">@pilot.Name : @pilot.Id</a><br />
		}
		<h5 class="card-title">Leaderabords</h5>
		@foreach (var leaerboard in leaderboarIndex)
		{
			<a href="/leaderboard/@leaerboard.Id">@leaerboard.Name : @leaerboard.Id</a><br />
		}
	</div>
}
else
{
	<p>Loading...</p>
}

@code {
	[Parameter]
	public int eventId { get; set; }

	Event eventData;

	IndexEntry[] raceIndex;
	IndexEntry[] pilotIndex;
	IndexEntry[] leaderboarIndex;

	protected override async Task OnInitializedAsync()
	{
		eventData = await Http.GetFromJsonAsync<Event>($"api/event/{eventId}");
		raceIndex = await Http.GetFromJsonAsync<IndexEntry[]>($"api/event/{eventId}/raceIndex");
		pilotIndex = await Http.GetFromJsonAsync<IndexEntry[]>($"api/event/{eventId}/pilotIndex");
		leaderboarIndex = await Http.GetFromJsonAsync<IndexEntry[]>($"api/event/{eventId}/leaderabordIndex");

		StateHasChanged();
	}
}
