@page "/event/{eventId:int}/pilot/{pilotId:int}"
@rendermode InteractiveWebAssembly
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using FPVPulse.Ingest
@using FPVPulse.LocalHost.Client.Components.Data
@using FPVPulse.LocalHost.Client.Components.EventData
@using Microsoft.AspNetCore.SignalR.Client
@using Newtonsoft.Json
@inject IJSRuntime JS
<h1>Pilot</h1>

@if (pilot != null)
{
	<a href="/event/@eventId">Back to Event</a>
	@if (events != null)
	{
		<h2>Events</h2>
		<menu class="menu-container menu-depth-2">
			@foreach (var entry in events)
			{
				<li class="link-element"><a href="/event/@entry.Id">@entry.Name</a></li>
			}
		</menu>
	}
	<PilotDetailView pilot=pilot linkToPilot=true/>
	if(raceIndex != null)
	{
		var racesArray = races.ToArray();
		if (leaderboardPractice != null)
		{
			<h2 class="card-title"><a href="event/@eventId/leaderboard/Practice">Practice</a></h2>
			<LeaderboardDetailsView pilotIdFilter="@pilotId" leaderboard="@leaderboardPractice" races="@racesArray"/>
		}
		if (leaderboardQualifying != null)
		{
			<h2 class="card-title"><a href="event/@eventId/leaderboard/Qualifying">Qualifying</a></h2>
			<LeaderboardDetailsView pilotIdFilter="@pilotId" leaderboard="@leaderboardQualifying" races="@racesArray"/>
		}
		if (leaderboardMain != null)
		{
			<h2 class="card-title"><a href="event/@eventId/leaderboard/Main">Main</a></h2>
			<LeaderboardDetailsView pilotIdFilter="@pilotId" leaderboard="@leaderboardMain" races="@racesArray"/>
		}
		<h2 class="card-title">Races</h2><br />
		<div class="race-complited-container">
			@foreach(var entry in raceIndex)
			{
				@if (raceLookup.TryGetValue(entry.Id, out var race))
				{
					<div class="float-element">
						<RaceSummaryView race="@race" />
					</div>
				}
			}	
		</div>
	}
}
else
{
	<p>Loading ...</p>
}

@code {
	[Parameter]
	public int eventId { get; set; }
	[Parameter]
	public int pilotId { get; set; }

	private HubConnection? hubConnection;

	Pilot pilot;

	Leaderboard leaderboardPractice;
	Leaderboard leaderboardQualifying;
	Leaderboard leaderboardMain;

	IndexEntry[] raceIndex;
	Dictionary<int, Race> raceLookup = new();
	List<Race> races;

	IndexEntry[] events;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && OperatingSystem.IsBrowser())
			await LoadRaceAsync();
	}

	private async Task LoadRaceAsync()
	{
		pilot = await Http.GetFromJsonAsync<Pilot>($"api/pilot/{pilotId}");

		raceIndex = await Http.GetFromJsonAsync<IndexEntry[]>($"api/event/{eventId}/pilot/{pilotId}/raceIndex");
		if(raceIndex != null && raceIndex.Length > 0)
		{
			foreach (var entry in raceIndex)
			{
				var race = await Http.GetFromJsonAsync<Race>($"api/race/{entry.Id}");
				if (race != null)
				{
					raceLookup.Add(entry.Id, race);
				}
			}
		}
		races = raceLookup.Values.ToList();

		events = await Http.GetFromJsonAsync<IndexEntry[]>($"api/pilot/{pilotId}/eventIndex");

		leaderboardPractice = await SaveLoadLeaderboard(eventId, RaceType.Practice);
		leaderboardQualifying = await SaveLoadLeaderboard(eventId, RaceType.Qualifying);
		leaderboardMain = await SaveLoadLeaderboard(eventId, RaceType.Mains);

		StateHasChanged();

		hubConnection = new HubConnectionBuilder()
			.WithUrl(NavigationManager.ToAbsoluteUri("/hubs/change"))
			.WithAutomaticReconnect()
			.Build();
		await hubConnection.StartAsync();

		hubConnection.On<int, int, Leaderboard>(ChangeSignalMessages.ChangeLeaderboardData, OnSignalChangeLeaderboardData);
		hubConnection.On<int, int, Race>(ChangeSignalMessages.ChangeRaceData, OnSignalChangeRaceData);
		hubConnection.On<int, int, Pilot>(ChangeSignalMessages.ChangePilotData, OnSignalChangePilotData);
		await hubConnection.InvokeAsync(ChangeSignalMessages.Subscribe, ChangeGroup.LeaderboardData);
		await hubConnection.InvokeAsync(ChangeSignalMessages.Subscribe, ChangeGroup.RaceData);
		await hubConnection.InvokeAsync(ChangeSignalMessages.Subscribe, ChangeGroup.PilotData);
	}

	async Task<Leaderboard?> SaveLoadLeaderboard(int eventId, RaceType raceType)
	{
		try
		{
			var leaderboard = await Http.GetFromJsonAsync<Leaderboard>($"api/event/{eventId}/leaderboard/{raceType}");
			return leaderboard;
		}
		catch (Exception ex)
		{
			var httpEx = ex as System.Net.Http.HttpRequestException;
			if (httpEx != null && httpEx.StatusCode == System.Net.HttpStatusCode.NotFound)
				return null;
			throw ex;
		}
	}
	private void OnSignalChangeLeaderboardData(int id, int parentId, Leaderboard leaderboard)
	{
		if (parentId == eventId)
		{
			if(leaderboard == null)
			{
				if(leaderboardPractice != null && leaderboardPractice.LeaderboardId == id)
					leaderboardPractice = null;
				if (leaderboardQualifying != null && leaderboardQualifying.LeaderboardId == id)
					leaderboardQualifying = null;
				if (leaderboardMain != null && leaderboardMain.LeaderboardId == id)
					leaderboardMain = null;
			}
			else
			{
				if(leaderboard.RaceType == RaceType.Practice)
					leaderboardPractice = leaderboard;
				if (leaderboard.RaceType == RaceType.Qualifying)
					leaderboardQualifying = leaderboard;
				if (leaderboard.RaceType == RaceType.Mains)
					leaderboardMain = leaderboard;
			}
			InvokeAsync(StateHasChanged);
		}
	}

	private void OnSignalChangeRaceData(int id, int parentId, Race race)
	{
		if (parentId == eventId)
		{
			DataUtil.WriteIndexEntry(raceIndex, id, race?.Name);
			if(race == null)
			{
				if (raceLookup.ContainsKey(id))
					raceLookup.Remove(id);
				races.RemoveAll(r => r.RaceId == id);
			}
			else
			{
				raceLookup[id] = race;
				var index = races.FindIndex(r => r.RaceId == id);
				if (index > 0)
					races[index] = race;
				else
					races.Add(race);
			}
			InvokeAsync(StateHasChanged);			
		}
	}

	private void OnSignalChangePilotData(int id, int parentId, Pilot pilot)
	{
		if (pilotId == id)
		{
			this.pilot = pilot;
			InvokeAsync(StateHasChanged);
		}
	}
}
