@page "/injest"
@using FPVPulse.Ingest
@using Microsoft.AspNetCore.SignalR.Client
@using System.Text.Json
@rendermode InteractiveWebAssembly
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<h3>Injest Events</h3>

@if(events == null)
{
	<p>Loading events ...</p>
}
else if (!events.Any())
{
	<p>No events found.</p>
}
else
{
	<div class="event-button-list">
		@foreach (var ev in events)
		{
			<button 
			class="event-btn @(CurrentEventId == ev.Id ? "selected" : "")"
			@onclick="() => CurrentEventId = ev.Id">
				@ev.Name
			</button>
		}
	</div>
}

@if (CurrentEventId != null)
{
	<p>Selected Event ID: @CurrentEventId</p>
	@if (races == null)
	{
		<p>Loading races ...</p>
	}
	else if (!races.Any())
	{
		<p>No races found for this event.</p>
	}
	else
	{
		var lastRaceType = RaceType.Unknown;
		@foreach (var kvp in races
			.OrderBy(kvp => InjestRace.GetRaceTypeOrder(kvp.Value.RaceType))
			.ThenBy(kvp => kvp.Value.FirstOrderPoistion)
			.ThenBy(kvp => kvp.Value.SecondOrderPosition))
		{
			if (kvp.Value.RaceType != lastRaceType && kvp.Value.RaceType.HasValue)
			{
				lastRaceType = kvp.Value.RaceType.Value;
				if (leaderboards.TryGetValue(lastRaceType, out var leaderboard) && leaderboard != null)
				{
					<InjestLeaderboardView @key="lastRaceType" Leaderboard="leaderboard"/>
				}
			}

			InjestPilotResult[] flatList = null;
			if (pilotResults.TryGetValue(kvp.Key, out var pilotResult) && pilotResult != null)
			{
				flatList = pilotResult.Select(t => t.result).ToArray();
			}
			//JS.InvokeVoidAsync("console.log", "flatList:", flatList);

			var raceElementId = $"race-id-{kvp.Key}";
			var raceInjestElementId = $"race-injest-id-{kvp.Value.InjestRaceId}";

			<div id = "@raceElementId" >
				<span id = "@raceInjestElementId" />
				@if(currentEvent.CurrentInjestRaceId == kvp.Value.InjestRaceId)
				{
					<h2>Current Race</h2>
				}
				else if (currentEvent.NextInjestRaceId == kvp.Value.InjestRaceId)
				{
					<h2>Next Race</h2>
					if (currentEvent.NextRaceSheduledStartTime != null)
					{
						<p>Sheduled Start Time: 
							@currentEvent.NextRaceSheduledStartTime?.ToLocalTime()
							@if (currentEvent.NextRaceSheduledStartTime > DateTime.UtcNow)
							{
							In : @TimeSpan.FromSeconds(Convert.ToUInt64(currentEvent.NextRaceSheduledStartSeconds)).ToString();
							}
						</p>
					}
				}

				<InjestRaceView @key="kvp.Key" Race="kvp.Value" Results="flatList"/>
			</div>
			<hr />
		}
	}
}

@code {
	private HubConnection? hubConnection;

	private IndexEntry[]? events;
	private InjestEvent? currentEvent;
	private string? pastScollTo;
	private string? scollTo;
	private Dictionary<int, InjestRace> races = new();
	private Dictionary<int, List<(int id, InjestPilotResult result)>> pilotResults = new();
	private Dictionary<RaceType, InjestLeaderboard> leaderboards = new();

	private object racesLock = new();
	private object pilotResultsLock = new();
	private object leaderboardLock = new();

	private int? currentEventId;
	private int? CurrentEventId
	{
		get => currentEventId;
		set
		{
			if (currentEventId != value)
			{
				currentEventId = value;
				_ = InvokeAsync(OnCurrentEventChange);
			}
		}
	}

	protected override async Task OnInitializedAsync()
	{
		var index = await Http.GetFromJsonAsync<IndexEntry[]>("api/injest/inspect/eventIndex/");
		if(UpdateEventListByIndex(index))
		{
			await LoadRacesAsync();
			StateHasChanged();
		}

		hubConnection = new HubConnectionBuilder()
			.WithUrl(NavigationManager.ToAbsoluteUri("/hubs/change"))
			.WithAutomaticReconnect()
			.Build();

		hubConnection.On<int, int, InjestEvent>(ChangeSignalMessages.ChangeInjestEventData, OnSignalChangeEventData);
		hubConnection.On<int, int, InjestRace>(ChangeSignalMessages.ChangeInjestRaceData, OnSignalChangeRaceData);
		hubConnection.On<int, int, InjestPilotResult>(ChangeSignalMessages.ChangeInjestPilotResultData, OnSignalChangePilotResultData);
		hubConnection.On<int, int, InjestLeaderboard>(ChangeSignalMessages.ChangeInjestLeaderboardData, OnSignalChangeLeaderboardData);
		await hubConnection.StartAsync();
		await hubConnection.InvokeAsync(ChangeSignalMessages.Subscribe, ChangeGroup.InjestEventData);
		await hubConnection.InvokeAsync(ChangeSignalMessages.Subscribe, ChangeGroup.InjestRaceData);
		await hubConnection.InvokeAsync(ChangeSignalMessages.Subscribe, ChangeGroup.InjestPilotResultData);
		await hubConnection.InvokeAsync(ChangeSignalMessages.Subscribe, ChangeGroup.InjestLeaderboardData);
	}

	bool UpdateEventListByIndex(IndexEntry[]? index)
	{
		bool hasChange = false;
		if (index == null && events != null)
		{
			events = null;
			CurrentEventId = null;
		}
		else if (events == null)
			events = index;
		else if (index != null)
			hasChange = events.Concat(index).GroupBy(e => e.Id).Any(g => g.Count() > 1);

		events = index;

		if (CurrentEventId == null && events != null && events.Length > 0)
		{
			var lastEvent = events.OrderByDescending(e => e.Id).FirstOrDefault();
			if (lastEvent != null)
			{
				CurrentEventId = lastEvent.Id;
				hasChange = true;
			}
		}
		return hasChange;
	}

	private async Task OnCurrentEventChange()
	{
		races.Clear();
		pilotResults.Clear();

		if (CurrentEventId == null)
		{
			currentEvent = null;
		}
		else
		{
			currentEvent = await Http.GetFromJsonAsync<InjestEvent>($"api/injest/inspect/event/{CurrentEventId}"); 
			if (currentEvent != null && currentEvent.CurrentInjestRaceId != null)
				scollTo = $"race-injest-id-{currentEvent.CurrentInjestRaceId}";
			await LoadRacesAsync();
		}
		await InvokeAsync(StateHasChanged);
	}

	private async Task LoadRacesAsync()
	{
		if (currentEventId == null)
			return;

		var raceIndexes = await Http.GetFromJsonAsync<IndexEntry[]>($"api/injest/inspect/eventRacesIndex/{CurrentEventId}");
		if (raceIndexes != null && raceIndexes.Length >= 0)
		{
			await LoadRacesByRaceId(raceIndexes.Select(r => r.Id));
		}
	}

	async Task LoadRacesByRaceId(IEnumerable<int> raceIds)
	{
		List<Task> loadTasks = new();
		foreach (var raceId in raceIds)
		{
			//var loadTask = Task.Run(async () =>
			{
				var race = await Http.GetFromJsonAsync<InjestRace>($"api/injest/inspect/race/{raceId}");
				StoreInjestRace(raceId, race);

				var stream = await Http.GetStreamAsync($"api/injest/inspect/race/{raceId}/result");
				using var doc = await JsonDocument.ParseAsync(stream);
				foreach (var element in doc.RootElement.EnumerateArray())
				{
					if (element.TryGetProperty("pilotResultId", out var resultField))
					{
						var resultId = resultField.GetInt32();
						var pilotResult = element.Deserialize<InjestPilotResult>(new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
						StoreInjestPilotResult(raceId, resultId, pilotResult);
					}
				}
			}//);
			//loadTasks.Add(loadTask);
		}
		await LoadLeaderboardsByRaceType(RaceType.Practice);
		await LoadLeaderboardsByRaceType(RaceType.Qualifying);
		await LoadLeaderboardsByRaceType(RaceType.Mains);
		await Task.WhenAll(loadTasks);

		StateHasChanged();
	}

	async Task LoadLeaderboardsByRaceType(RaceType raceType)
	{
		if (currentEventId != null)
		{
			try
			{
				var leaderboard = await Http.GetFromJsonAsync<InjestLeaderboard>($"api/injest/inspect/event/{currentEventId}/leaderboard/{raceType}");
				StoreInjestLeaderabord(raceType, leaderboard);
			}
			catch(System.Net.Http.HttpRequestException ex)
			{
				if (ex.StatusCode != System.Net.HttpStatusCode.NotFound)
					throw ex;
			}
		}
	}

	private void OnSignalChangeEventData(int id, int parentId, InjestEvent @event)
	{
		//JS.InvokeVoidAsync("console.log", "OnChangeRaceData", groupName, id, parentId, race);
		if (currentEventId == id)
		{
			currentEvent = @event;
			if (currentEvent != null && currentEvent.CurrentInjestRaceId != null)
				scollTo = $"race-injest-id-{currentEvent.CurrentInjestRaceId}";

			InvokeAsync(StateHasChanged);
		}
	}

	private void OnSignalChangeRaceData(int id, int parentId, InjestRace race)
	{
		//JS.InvokeVoidAsync("console.log", "OnChangeRaceData", groupName, id, parentId, race);
		if (currentEventId == parentId)
		{
			var raceId = id;
			StoreInjestRace(raceId, race);
			InvokeAsync(StateHasChanged);
		}
	}

	bool IsMachingPilotResult(string groupName, int id, int parentId)
	{
		var group = Enum.Parse<ChangeGroup>(groupName);
		return IsMachingPilotResult(group, id, parentId);
	}

	bool IsMachingPilotResult(ChangeGroup group, int id, int parentId)
	{
		return (group == ChangeGroup.InjestPilotResult ||
			group == ChangeGroup.InjestPilotResultData) && races.ContainsKey(parentId);
	}

	private void OnSignalChangePilotResultData(int id, int parentId, InjestPilotResult pilotResult)
	{
		//JS.InvokeVoidAsync("console.log", "OnChangePilotResultData", groupName, id, parentId, pilotResult);
		if (races.ContainsKey(parentId))
		{
			var raceId = parentId;
			var resultId = id;

			if (pilotResult != null)
			{
				StoreInjestPilotResult(raceId, resultId, pilotResult);
				InvokeAsync(StateHasChanged);
			}
		}
	}

	void OnSignalChangeLeaderboardData(int id, int parentId, InjestLeaderboard leaderboard)
	{
		if(currentEventId == parentId)
		{
			var raceType = leaderboard.RaceType;
			if (raceType.HasValue)
			{
				StoreInjestLeaderabord(raceType.Value, leaderboard);
				InvokeAsync(StateHasChanged);
			}
		}
	}

	void StoreInjestRace(int raceId, InjestRace? race)
	{
		lock (racesLock)
		{
			if (race != null)
				races[raceId] = race;
			else if (races.ContainsKey(raceId))
				races.Remove(raceId);
		}
	}

	void StoreInjestPilotResult(int raceId, int resultId, InjestPilotResult pilotResult)
	{
		lock (pilotResultsLock)
		{
			if (!pilotResults.TryGetValue(raceId, out var resultsList))
			{
				resultsList = new List<(int id, InjestPilotResult result)>();
				resultsList.Add((resultId, pilotResult));
				pilotResults.Add(raceId, resultsList);
			}
			else
			{
				int existingIndex = resultsList.FindIndex(r => r.id == resultId);
				if (existingIndex >= 0)
					resultsList[existingIndex] = (resultId, pilotResult);
				else
					resultsList.Add((resultId, pilotResult));
			}
		}
	}

	void StoreInjestLeaderabord(RaceType raceType, InjestLeaderboard? leaderboard)
	{
		lock (leaderboardLock)
		{
			if (leaderboard != null)
			{
				JS.InvokeVoidAsync("Console.log", "StoreInjestLeaderabord", raceType, leaderboard);
			}

			if (leaderboard != null)
				leaderboards[raceType] = leaderboard;
			else if (leaderboards.ContainsKey(raceType))
				leaderboards.Remove(raceType);
		}
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		//await JS.InvokeVoidAsync("console.log", "OnAfterRenderAsync", firstRender, scollTo, pastScollTo);
		if (pastScollTo != scollTo)
		{
			pastScollTo = scollTo;
			await JS.InvokeVoidAsync("scrollToElementById", scollTo);
		}
	}
}