@page "/injest"
@page "/"
@using FPVPulse.Ingest
@using Microsoft.AspNetCore.SignalR.Client
@using System.Text.Json
@rendermode InteractiveWebAssembly
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<h3>Injest Events</h3>

@if(events == null)
{
	<p>Loading events ...</p>
}
else if (!events.Any())
{
	<p>No events found.</p>
}
else
{
	<select @bind="CurrentEventId">
		<option>-- Select an event --</option>
		@foreach (var ev in events)
		{
			<option value="@ev.Id">@ev.Name</option>
		})
	</select>
}

@if (CurrentEventId != null)
{
	<p>Selected Event ID: @CurrentEventId</p>
	@if (races == null)
	{
		<p>Loading races ...</p>
	}
	else if (!races.Any())
	{
		<p>No races found for this event.</p>
	}
	else
	{
		@foreach (var kvp in races
			.OrderBy(kvp => InjestRace.GetRaceTypeOrder(kvp.Value.RaceType))
			.ThenBy(kvp => kvp.Value.FirstOrderPoistion)
			.ThenBy(kvp => kvp.Value.SecondOrderPosition))
		{
			InjestPilotResult[] flatList = null;
			if (pilotResults.TryGetValue(kvp.Key, out var pilotResult) && pilotResult != null)
			{
				flatList = pilotResult.Select(t => t.result).ToArray();
			}
			//JS.InvokeVoidAsync("console.log", "flatList:", flatList);

			var raceElementId = $"race-id-{kvp.Key}";
			var raceInjestElementId = $"race-injest-id-{kvp.Value.InjestRaceId}";

			<div id = "@raceElementId" >
				<span id = "@raceInjestElementId" />
				@if(currentEvent.CurrentInjestRaceId == kvp.Value.InjestRaceId)
				{
					<h2>Current Race</h2>
				}
				else if (currentEvent.NextInjestRaceId == kvp.Value.InjestRaceId)
				{
					<h2>Next Race</h2>
					if (currentEvent.NextRaceSheduledStartTime != null)
					{
						<p>Sheduled Start Time: 
							@currentEvent.NextRaceSheduledStartTime?.ToLocalTime()
							@if (currentEvent.NextRaceSheduledStartTime > DateTime.UtcNow)
							{
							In : @TimeSpan.FromSeconds(Convert.ToUInt64(currentEvent.NextRaceSheduledStartSeconds)).ToString();
							}
						</p>
					}
				}

				<InjestRaceView @key="kvp.Key" Race="kvp.Value" Results="flatList"/>
			</div>
			<hr />
		}
	}
}

@code {
	private HubConnection? hubConnection;

	private IndexEntry[]? events;
	private InjestEvent? currentEvent;
	private string? scollTo;
	private Dictionary<int, InjestRace> races = new();
	private Dictionary<int, List<(int id, InjestPilotResult result)>> pilotResults = new();

	private int? currentEventId;
	private int? CurrentEventId
	{
		get => currentEventId;
		set
		{
			if (currentEventId != value)
			{
				currentEventId = value;
				_ = OnCurrentEventChange();
			}
		}
	}

	protected override async Task OnInitializedAsync()
	{
		events = await Http.GetFromJsonAsync<IndexEntry[]>("api/injest/inspect/eventIndex/");

		hubConnection = new HubConnectionBuilder()
			.WithUrl(NavigationManager.ToAbsoluteUri("/hubs/change"))
			.WithAutomaticReconnect()
			.Build();

		hubConnection.On<string, int, int>(ChangeSignalMessages.Change, OnChange);
		hubConnection.On<string, int, int, InjestEvent>(ChangeSignalMessages.ChangeInjestEventData, OnChangeEventData);
		hubConnection.On<string, int, int, InjestRace>(ChangeSignalMessages.ChangeInjestRaceData, OnChangeRaceData);
		hubConnection.On<string, int, int, InjestPilotResult>(ChangeSignalMessages.ChangeInjestPoilotResultData, OnChangePilotResultData);
		await hubConnection.StartAsync();
		//await hubConnection.InvokeAsync(ChangeSignalMessages.Subscribe, ChangeGroup.InjestEvent);
		await hubConnection.InvokeAsync(ChangeSignalMessages.Subscribe, ChangeGroup.InjestEventData);
		//await hubConnection.InvokeAsync("Subscribe", ChangeGroup.InjestRace);
		await hubConnection.InvokeAsync(ChangeSignalMessages.Subscribe, ChangeGroup.InjestRaceData);
		//await hubConnection.InvokeAsync("Subscribe", ChangeGroup.InjestPilotResult);
		await hubConnection.InvokeAsync(ChangeSignalMessages.Subscribe, ChangeGroup.InjestPilotResultData);
	}

	private async Task OnCurrentEventChange()
	{
		races.Clear();
		pilotResults.Clear();

		if (CurrentEventId == null)
		{
			currentEvent = null;
			StateHasChanged();
		}
		else
		{
			currentEvent = await Http.GetFromJsonAsync<InjestEvent>($"api/injest/inspect/event/{CurrentEventId}");
			OnEventData(currentEvent, true);
		}
	}

	private async Task LoadRacesAsync()
	{
		if (currentEventId == null)
			return;

		var raceIndexes = await Http.GetFromJsonAsync<IndexEntry[]>($"api/injest/inspect/eventRacesIndex/{CurrentEventId}");
		if (raceIndexes != null && raceIndexes.Length >= 0)
		{
			await LoadRacesByRaceId(raceIndexes.Select(r => r.Id));
		}
	}

	async Task LoadRacesByRaceId(IEnumerable<int> raceIds)
	{
		List<Task> loadTasks = new();
		foreach (var raceId in raceIds)
		{
			var loadTask = Task.Run(async () =>
			{
				var race = await Http.GetFromJsonAsync<InjestRace>($"api/injest/inspect/race/{raceId}");
				StoreInjestRace(raceId, race);

				var stream = await Http.GetStreamAsync($"api/injest/inspect/race/{raceId}/result");
				using var doc = await JsonDocument.ParseAsync(stream);
				foreach (var element in doc.RootElement.EnumerateArray())
				{
					if (element.TryGetProperty("pilotResultId", out var resultField))
					{
						var resultId = resultField.GetInt32();
						var pilotResult = element.Deserialize<InjestPilotResult>(new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
						StoreInjestPilotResult(raceId, resultId, pilotResult);
					}
				}
			});
			loadTasks.Add(loadTask);
		}
		await Task.WhenAll(loadTasks);

		StateHasChanged();
	}

	private async Task OnChange(string groupName, int id, int parentId)
	{
		//JS.InvokeVoidAsync("console.log", "OnChange", groupName, id, parentId);
		var group = Enum.Parse<ChangeGroup>(groupName);
		if (IsMachingEvent(group, id, parentId))
		{
			currentEvent = await Http.GetFromJsonAsync<InjestEvent>($"api/injest/inspect/event/{CurrentEventId}");
			await OnEventData(currentEvent, false);
		}
		else if (IsMachingRace(group, id, parentId))
		{
			var raceId = id;
			var race = await Http.GetFromJsonAsync<InjestRace>($"api/injest/inspect/race/{raceId}");
			StoreInjestRace(raceId, race);
			StateHasChanged();
		}
		else if (IsMachingPilotResult(group, id, parentId))
		{
			var raceId = parentId;
			var resultId = id;
			var pilotResult = await Http.GetFromJsonAsync<InjestPilotResult>($"api/injest/inspect/race/result/{resultId}");

			if (pilotResult != null)
			{
				StoreInjestPilotResult(raceId, resultId, pilotResult);
				StateHasChanged();
			}
		}
	}

	private async Task OnChangeEventData(string groupName, int id, int parentId, InjestEvent @event)
	{
		//JS.InvokeVoidAsync("console.log", "OnChangeRaceData", groupName, id, parentId, race);
		if (IsMachingEvent(groupName, id, parentId))
		{
			await OnEventData(@event, false);
		}
	}

	bool IsMachingEvent(string groupName, int id, int parentId)
	{
		var group = Enum.Parse<ChangeGroup>(groupName);
		return IsMachingEvent(group, id, parentId);
	}

	bool IsMachingEvent(ChangeGroup group, int id, int parentId)
	{
		return (group == ChangeGroup.InjestEventData ||
			group == ChangeGroup.InjestEventData) && id == CurrentEventId;
	}

	async Task OnEventData(InjestEvent @event, bool loadRaces)
	{
		var nextScollTo = "";

		currentEvent = @event;
		if (currentEvent != null && currentEvent.CurrentInjestRaceId != null)
			nextScollTo = $"race-injest-id-{currentEvent.CurrentInjestRaceId}";

		if (loadRaces)
			await LoadRacesAsync();

		StateHasChanged();

		if (!string.IsNullOrEmpty(nextScollTo) && scollTo != nextScollTo)
		{
			scollTo = nextScollTo;
			await JS.InvokeVoidAsync("scrollToElementById", scollTo);
		}
	}

	bool IsMachingRace(string groupName, int id, int parentId)
	{
		var group = Enum.Parse<ChangeGroup>(groupName);
		return IsMachingRace(group, id, parentId);
	}

	bool IsMachingRace(ChangeGroup group, int id, int parentId)
	{
		return (group == ChangeGroup.InjestRacePilot ||
			group == ChangeGroup.InjestRacePilotData) && parentId == CurrentEventId;
	}

	private async Task OnChangeRaceData(string groupName, int id, int parentId, InjestRace race)
	{
		//JS.InvokeVoidAsync("console.log", "OnChangeRaceData", groupName, id, parentId, race);
		if (IsMachingEvent(groupName, id, parentId))
		{
			var raceId = id;
			StoreInjestRace(raceId, race);
			StateHasChanged();
		}
	}

	bool IsMachingPilotResult(string groupName, int id, int parentId)
	{
		var group = Enum.Parse<ChangeGroup>(groupName);
		return IsMachingPilotResult(group, id, parentId);
	}

	bool IsMachingPilotResult(ChangeGroup group, int id, int parentId)
	{
		return (group == ChangeGroup.InjestPilotResult ||
			group == ChangeGroup.InjestPilotResultData) && races.ContainsKey(parentId);
	}

	private async Task OnChangePilotResultData(string groupName, int id, int parentId, InjestPilotResult pilotResult)
	{
		//JS.InvokeVoidAsync("console.log", "OnChangePilotResultData", groupName, id, parentId, pilotResult);
		if (IsMachingPilotResult(groupName, id, parentId))
		{
			var raceId = parentId;
			var resultId = id;

			if (pilotResult != null)
			{
				StoreInjestPilotResult(raceId, resultId, pilotResult);
				StateHasChanged();
			}
		}
	}

	void StoreInjestRace(int raceId, InjestRace race)
	{
		if (race != null)
			races[raceId] = race;
		else if (races.ContainsKey(raceId))
			races.Remove(raceId);
	}

	void StoreInjestPilotResult(int raceId, int resultId, InjestPilotResult pilotResult)
	{
		if (!pilotResults.TryGetValue(raceId, out var resultsList))
		{
			resultsList = new List<(int id, InjestPilotResult result)>();
			resultsList.Add((resultId, pilotResult));
			pilotResults.Add(raceId, resultsList);
		}
		else
		{
			int existingIndex = resultsList.FindIndex(r => r.id == resultId);
			if (existingIndex >= 0)
				resultsList[existingIndex] = (resultId, pilotResult);
			else
				resultsList.Add((resultId, pilotResult));
		}
	}
}