@rendermode InteractiveWebAssembly
@using FPVPulse.Ingest
@using FPVPulse.LocalHost.Client.Components.Data;

@if (leaderboard != null)
{
	@Prepare();
	<table>
		<tr>
			<th>Position</th>
			<th>Pilot</th>
			<th>Nation</th>
			<th>Reason</th>
			@for (int brackedId = 1; brackedId <= maxBracket; brackedId++)
			{
				<th>Bracket @brackedId</th>
			}
		</tr>
		@foreach (var pilot in leaderboard.Pilots)
		{
			<tr>
				<td>@DataUtil.GetPilotPosition(@pilot)</td>
				<td><a href="/event/@leaderboard.EventId/pilot/@pilot.PilotId">@DataUtil.GetPilotName(@pilot)</a></td>
				<td>@DataUtil.GetPilotNation(@pilot)</td>
				<td>@pilot.PositionReason</td>
				@for (int brackedId = 1; brackedId <= maxBracket; brackedId++)
				{
					var time = GetBracketTime(brackedId, pilot, out var raceId);
					if(raceId.HasValue)
					{
						<td><a href="race/@raceId">@time</a></td>
					}
					else
					{
						<td>@time</td>						
					}
				}
			</tr>
		}
	</table>
}

@code {
	class Bracket
	{
		public int BracketId { get; set; } = 0;
		public List<Race> Races { get; set; } = new();
		public Dictionary<int, RacePilotResult> PilotResults { get; set; } = new ();
	}

	[Parameter]
	public Leaderboard leaderboard { get; set; }
	[Parameter]
	public Race[] races { get; set; }

	int maxBracket = 0;
	Dictionary<int, Bracket> brackets = new Dictionary<int, Bracket>();

	string Prepare()
	{
		brackets.Clear();
		if(races != null && races.Length > 0)
		{
			foreach(var race in races)
			{
				var brackedId = race.FirstOrderPoistion;
				if (brackedId > maxBracket)
					maxBracket = brackedId;

				if (race.Results == null || race.Results.Length == 0)
					continue;

				if (!brackets.TryGetValue(brackedId, out var bracket))
				{
					bracket = new Bracket { BracketId = brackedId };
					brackets.Add(brackedId, bracket);
				}
				bracket.Races.Add(race);

				foreach(var result in race.Results)
				{
					if (!result.LazyPilotId.HasValue)
						continue;

					var pilotId = result.LazyPilotId.Value;

					bracket.PilotResults[pilotId] = result;
				}
			}
		}
		return string.Empty;
	}

	string GetBracketTime(int brackedId, LeaderboardPilot pilot, out int? raceId)
	{
		if (brackets.TryGetValue(brackedId, out var raceBracked))
		{
			if (raceBracked.PilotResults.TryGetValue(pilot.PilotId, out var result))
			{
				raceId = result.LazyRaceId;
				return DataUtil.GetTime(result);
			}
		}
		raceId = null;
		return string.Empty;
	}
}
