@rendermode InteractiveWebAssembly
@using FPVPulse.Ingest
@using FPVPulse.LocalHost.Client.Components.Data;

@if (race != null)
{
	@Prepare();
	<div>
		@if (linkToRace)
		{
			<h3><a href="race/@race.RaceId">@race.Name</a></h3>
		}
		else
		{
			<h3>@race.Name</h3>
			<p>RaceType: @race.RaceType</p>
		}
		<hr />
		@if (race.Pilots != null)
		{
			<RacePilotsView race="@race" />
		}
	</div>
}

@code {
	[Parameter]
	public Race? race { get; set; }
	[Parameter]
	public bool linkToRace { get; set; } = false;

	string Prepare()
	{
		return string.Empty;
	}

	// TODO : Find out if a race is in progress

	// OPTION : Detect if Sector and Split Works
}
