@rendermode InteractiveWebAssembly
@using FPVPulse.Ingest
@using FPVPulse.LocalHost.Client.Components.Data;

@if(race != null)
{
	@Prepare();
	<div>
		<h3><a href="race/@race.RaceId">@race.Name</a></h3>
		@if(race.Pilots != null && race.Pilots.Length > 0)
		{
			<details class="fold-right-container">
				<summary>
					<table>
						<tr>
							<th>Pilot</th>
							<th>Nationality</th>
							@if(race.RaceType == RaceType.Mains)
							{
								<th>Position</th>
							}
							else
							{
								<th>Time</th>
							}
						</tr>
						@foreach (var racePilot in race.Pilots)
						{
							var result = race.Results.Where(e => e.LazyRacePilotId == racePilot.RacePilotId).FirstOrDefault();
							<tr>
								<td><a href="event/@race.EventId/pilot/@racePilot.PilotId">@racePilot.Pilot?.DisplayName</a></td>
								<td>@racePilot.Pilot?.CountryAlpha3</td>
								@if (race.RaceType == RaceType.Mains)
								{
									<td>@racePilot.Position</td>
								}
								else
								{
									<th>@DataUtil.GetTime(race, racePilot)</th>
								}
							</tr>
						}
					</table>
				</summary>
				<div calss="right-fold-container">
				<table>
					<tr>
						@if (hasResults)
						{
							<th>Position</th>
							<th>LapCount</th>
							@for (int i = 1; i <= lapCount; i++)
							{
								<th>Lap @i</th>
							}
							@if (isInProgress)
							{
								<th>CurrentSector</th>
								<th>CurrentSplit</th>
							}
							<th>TotalTime</th>
							<th>TopLapTime</th>
							<th>Top2ConsecutiveLapTime</th>
							<th>Top3ConsecutiveLapTime</th>
							<th>AverageLapTime</th>
						}
						else
						{
							<th>Channel</th>
							<th>Seed Postion</th>
							<th>Start Position</th>
						}
						<th>Flags</th>
					</tr>
					@foreach (var racePilot in race.Pilots)
					{
						var result = race.Results.Where(e => e.LazyRacePilotId == racePilot.RacePilotId).FirstOrDefault();
						<tr>
							@if (hasResults)
							{
								<td>@racePilot.Position</td>
								<td>@result?.LapCount</td>
								@for (int i = 0; i < lapCount; i++)
								{
									<td>@DataUtil.PrintLap(result, i)</td>
								}
								@if (isInProgress)
								{
									<td>@result?.CurrentSector</td>
									<td>@result?.CurrentSplit</td>
								}
								<td>@result?.TotalTime</td>
								<td>@result?.TopLapTime</td>
								<td>@result?.Top2ConsecutiveLapTime</td>
								<td>@result?.Top3ConsecutiveLapTime</td>
								<td>@result?.AverageLapTime</td>
							}
							else
							{
								<td>@racePilot.Channel</td>
								<td><a href="race/@racePilot.SeedRaceId">@racePilot.SeedPosition</a></td>
								<td>@racePilot.StartPosition</td>
							}
							<td>@DataUtil.PrintFlags(result)</td>
						</tr>
					}
			</table>
			</div>
			</details>	
		}
	</div>
}

@code {
	[Parameter]
	public Race? race { get; set; }

	bool isInProgress;

	bool hasResults;

	int lapCount;

	string Prepare()
	{
		hasResults = race.Results != null && race.Results.Length > 0;
		if (hasResults)
		{
			lapCount = race.Results.Select(e => e.LapCount).Max() ?? 0;
		}

		isInProgress = false; // TODO : detect this


		return string.Empty;
	}
}
